@font-face {
    font-family: 'GothamMedium_1';
    src: url('../fonts/GothamMedium_1.eot');
    src: url('../fonts/GothamMedium_1.eot') format('embedded-opentype'),
    url('../fonts/GothamMedium_1.woff2') format('woff2'),
    url('../fonts/GothamMedium_1.woff') format('woff'),
    url('../fonts/GothamMedium_1.ttf') format('truetype'),
    url('../fonts/GothamMedium_1.svg#GothamMedium_1') format('svg');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'GothamMedium_1', sans-serif ;
}
body {
    background: url("../images/background.jpg") no-repeat #010101 top center;
    background-size: cover;
}
.container {
    max-width: 960px;
    margin: auto;
}

.sales_assistance {
    position: absolute;
    top: 0;
    right: 0;
    font-size:  10px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #303030;
}

.sales_assistance span {
    color: #ababab;
    text-transform: uppercase;
}
header .logo {
    float: left;
    padding-top: 35px;
    border-top: solid 4px #05abda;
    width: 100%;
    max-width: 130px;
}
header .logo img {
    width: 100%;
}
.right-header-block {
    float: right;
}
.sales {
    display: inline-block;
    float: right;
    font-size:  10px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #303030;
}
.sales span {
    color: #ababab;
    text-transform: uppercase;
}
.clearfix {
    clear: both;
}
.shopping-card {
    float: right;
    margin-left: 14px;
    margin-top: 12px;
}
.shopping-card a {
    color: #05abda;
    font-size: 19px;
}
form {
    float: right;
    margin-top: 7px;
    margin-bottom: 30px;
    color: white;
    position: relative;
}
form input {
    line-height: 28px;
    font-size: 11px;
    padding-right: 7px;
    padding-left: 7px;
    background-color: #000;
    border: solid 1px #494949;
}
form:after {
    content: "<";
    transform: rotate(270deg);
    color: white;
    position: absolute;
    font-size: 20px;
    right: 5px;
    top: 5px;
    font-weight: bold;
}
nav {
    float: right;
    margin-top: 12px;
}
header ul li {
    list-style: none;
    float: left;
    margin-right: 33px;
}
header ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}
section {
    clear: both;
}
.banner img {
    width: 100%;
}
.banner {
    position: relative;
}
.banner a {
    position: absolute;
    background-image: url("../images/connecting.jpg");
    color:#FFF;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    padding: 0 22px;
    line-height: 58px;
    bottom: 22px;
    left: 20px;
}
/*.owl-nav {*/
    /*display: none;!important;*/

/*}*/

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    color: #9e9e9e;
    font-size: 100px;
}
.owl-prev {
    left: 5px;
}
.owl-next {
    right: 5px;
}
.owl-dots {
    position: absolute;
    top: 20px;
    right: 10px;
    margin-right: 10px;
}
.owl-carousel button.owl-dot {
    background-color: #cdcdcd;
    width: 8px;
    height: 8px;
    margin: 0 10px;
}
.navigation {
    background-color: black;
    padding: 20px 19px 17px 19px;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}
.navigation ul li:after {
    content: "\003e";
    color: white;
}
.navigation ul li:last-child:after {
    display: none;
}
.caption {
    background-image: url("../images/nyrius-faq-askquestion-rollover.jpg");
    height: 189px;
    position: relative;
}
.caption div {
    font-size: 20px;
    color: white;
    position: absolute;
    left: 19px;
    bottom: 19px;
}
.accordion {
    background-color: white;
}

